*{
    margin: 0;
    padding: 0;
}
#header{
    background-color:lightblue;
    color: black;
    text-align: center;
    padding: 5px;
}
a:visited{
    color: black;
}
a:active{
    background-color:gray;
}
a:hover{
    background-color: lightblue;
}
.box1{
    background-color:gray;
    color: whitesmoke;
    width: 100%;
    height: 100px;
    text-align: center;
}